config device 'UART'
	opton  name 'KT'
	option dev_addr '1'
	option enabled '1'
	option protocol 'MODBUS-RTU'
	option serial '/dev/ttyS1'
#	option ip_addr '192.168.1.1'
#	option ip_port '502'
	option detail_xml '/usr/device/KT_1.xml'
	option config_md5 'MD5_VALUE'


config device 'ETH'
	opton  name 'HJ'
	option dev_addr '1'
	option enabled '1'
	option protocol 'MODBUS-TCP'
#	option serial '/dev/ttyS1'
	option ip_addr '192.168.1.1'
	option ip_port '502'
	option detail_xml '/usr/device/HJ_1.xml'
	option config_md5 'MD5_VALUE'

config device 'SUB-GHZ'
	opton  name 'WXCW'
	option dev_addr '1'
	option enabled '1'
	option protocol 'MODBUS-TCP'
	option modem '/dev/ttyACM0'
#	option serial '/dev/ttyS1'
#	option ip_addr '192.168.1.1'
#	option ip_port '502'
	option detail_xml '/usr/device/WXCW.xml'
	option config_md5 'MD5_VALUE'

