<% 
local sx1301_nb = 0;

self.map.uci:foreach("lora_pkt_fwd","sx1301",
function(sec)
	sx1301_nb = sx1301_nb + 1;
end
)

%>


<%+cbi/valueheader%>

<style type="text/css">
	#fsk-freq-list-div{
		display: block;
		width: 100%;
		float:left;
	}
	#fsk-freq-list-div  i.fa{
		color:red;
		margin-left: -16px;
		display: none;
		cursor: pointer;
	}
	#fsk-freq-list-div > div:hover>i.fa{
		display:inline-block
	}
	#fsk-freq-list-div>div{
		float:left;
	}

	#fsk-freq-list-div > div> input{
		border:0;
		border-bottom:2px solid;
		width:160px;
		box-shadow: none;
		transition: box-shadow 0.2s line;
		background: transparent;
	}
	#fsk-freq-list-div > div> input.new{
		box-shadow: 0px 0px 4px #269cd4 inset;
	}
</style>

<div id="fsk-freq-list-div">
	<%
	local vals = self:cfgvalue(section) or {}
	for i=1, #vals + 1 do
	local val = vals[i]
	if (val and #val > 0) or (i == 1) then
	%>
	<div>
	<input class="cbi-input-text" value="<%=pcdata(val)%>" readonly onchange="cbi_d_update(this.id)" type="text"<%= attr("name", cbid) .. ifattr(self.size, "size") ..
	ifattr(i == 1 and self.placeholder, "placeholder", self.placeholder)
	%> /><i onclick="remove_fsk_freq(this)" class="fa fa-close"></i></div>
	<% end end %>
</div>

<input type="number" step="0.0001" id="fsk-freq-new" style="width:120px" placeholder="<%:Freq.(MHz)%>" ><select id="fsk-dr-new" style="width:120px" placeholder="<%:Datarate(Kbps)%>">
	<option value="50" >50Kbps</option>
</select>
<input type="button" id="add_fsk_freq_btn" value="<%:Add%>" onclick="add_fsk_freq()">

<% for s=0,sx1301_nb - 1,1 do %>
	<input type="hidden" id="_<%=s%>_fsk_enable" value="0"  name="_<%=s%>_fsk_enable" />
	<input type="hidden" id="_<%=s%>_fsk_radio"  value="0"  name="_<%=s%>_fsk_radio" />
	<input type="hidden" id="_<%=s%>_fsk_if" 	 value="0" name="_<%=s%>_fsk_if" />
	<input type="hidden" id="_<%=s%>_fsk_bps" 	 value="0" name="_<%=s%>_fsk_bps" />
<% end %>
<%+cbi/valuefooter%>
