<%+cbi/valueheader%>
	<select class="cbi-input-select lorawan_proto" onchange="cbi_d_update(this.id)"<%= attr("id", cbid) .. attr("name", cbid) .. ifattr(self.size, "size") %>>
	<% for i, key in pairs(self.keylist) do -%>
		<option id="cbi-<%=self.config.."-"..section.."-"..self.option.."-"..key%>"<%= attr("value", key) .. ifattr(tostring(self:cfgvalue(section) or self.default) == key, "selected", "selected") %>><%=striptags(self.vallist[i])%></option>
	<%- end %>
	</select>
	<!--
	<a id="lora_pkt_fwd-gateway_conf-_lora_proto_gw_bridge_link_a__" href="<%=luci.dispatcher.build_url("admin","lorawan","gwbridge")%>" style="display:none" >To configure the LoRa Gateway MQTT Bridge</a>
	<script type="text/javascript" id="cbip-lora_pkt_fwd-gateway_conf-_lora_proto_gw_bridge_link_a__">
		$(document).ready(function(){
			if( $(".lorawan_proto").first().val() == 'mqtt'){
				$("#lora_pkt_fwd-gateway_conf-_lora_proto_gw_bridge_link_a__").show();
			}
			$(".lorawan_proto").first().change(function(){
				if($(this).val() == "mqtt"){
					$("#lora_pkt_fwd-gateway_conf-_lora_proto_gw_bridge_link_a__").show();
				}
				else{
					$("#lora_pkt_fwd-gateway_conf-_lora_proto_gw_bridge_link_a__").hide();
				}
			})
		})
		//cbi_d_add("lora_pkt_fwd-gateway_conf-_lora_proto_gw_bridge_link_a__", {"cbid.lora_pkt_fwd.gateway_conf.proto":"mqtt"}, "cbip-lora_pkt_fwd-gateway_conf-_lora_proto_gw_bridge_link_a__");
	</script>-->
<%+cbi/valuefooter%>
