config device
	opton  name 'MB-RTU'
	option enabled '1'
	option protocol 'MODBUS-RTU'
	option serial '/dev/ttyS1'
	option device_detail '/usr/device/mb_rtu.xml'
	option config_md5 'MD5_VALUE'



config device
	opton  name 'IEC-101'
	option enabled '1'
	option protocol 'IEC-101'
	option serial '/dev/ttyUSB0'
	option device_detail '/usr/device/mb_rtu.xml'
	option config_md5 'MD5_VALUE'





