config device
	opton  name 'MODBUS'
	option enabled '1'
	#rtu tcp
	option protocol 'tcp'
	option device_detail '/usr/device/mb_tcp.xml'
	option config_md5 'MD5_VALUE'

config device
	opton  name 'IEC60870'
	option enabled '1'
	option protocol '101'
	option device_detail '/usr/device/mb_tcp.xml'
	option config_md5 'MD5_VALUE'


