config device
	opton  name 'MB-TCP'
	option enabled '1'
	option protocol 'TCP-CONNECT'
	option ip_addr '192.168.1.1'
	option ip_port	'1000'
	option device_detail '/usr/device/mb_tcp.xml'
	option config_md5 'MD5_VALUE'

config device
	opton  name 'HJ'
	option dev_addr '1'
	option enabled '1'
	option protocol 'MODBUS-TCP'
#	option serial '/dev/ttyS1'
	option ip_addr '192.168.1.1'
	option ip_port '502'
	option detail_xml '/usr/device/HJ_1.xml'
	option config_md5 'MD5_VALUE'



